---
apiVersion: v1
kind: Secret
metadata:
  name: example
  labels:
    app: example
data:
  db_password: {{ .exampleSecure | b64enc }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: example
  annotations:
    eks.amazonaws.com/role-arn: {{ .example.roleArn }}
  labels:
    app: example
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: example
spec:
  selector:
    matchLabels:
      app: example
  template:
    metadata:
      labels:
        app: example
    spec:
      serviceAccountName: example
      containers:
      - name: hello-world
        image: hello-world:{{ .example.imageTag }}
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
